{{> global_head}}

<div class="posts_container">
	{{#posts}}
		{{> post_frontpage}}
	{{/posts}}
</div>

<div class="sidebar_container">
<div class="sidebar">
	<h3 class="sidebar_title">
		Who the hell is this?
	</h3>
	<p>
		I am Leander Harding, software engineer, hacker, gamer, incorrigible nerd and techno-curmudgeon.
		When I'm not making web applications, I play RPGs on table and screen, solder things, and hang out with my wife Kristy.
	</p>
</div>

<div class="sidebar">
	<h3 class="sidebar_title">
		Find Me
	</h3>
	<ul>
		<li>Email: <a href="mailto:leander@fremde.org">leander@fremde.org</a></li>
		<li>Google Plus: <a href="https://plus.google.com/113163763929537751693/posts">+Leander Harding</a></li>
		<li>Twitter: <a href="http://twitter.com/blazing_grey" title="damn kids and their hashbangs">@blazing_grey</a></li>
		<li><a href="http://www.catb.org/jargon/html/I/ICBM-address.html">ICBM</a>: 37.39, -122.08, 76</li>
	</ul>
</div>

<div class="sidebar">
	<h3 class="sidebar_title">
		I like the cut of your jib
	</h3>
	<ul>
		<li><a href="http://kristyharding.com">Kristy's Blog</a></li>
		<li><a href="http://cardboardcomputer.com">Cardboard Computer</a></li>
		<li><a href="http://ludusnovus.net">Ludus Novus</a></li>
		<li><a href="http://www.thenexusforums.com">The Nexus Forums</a></li>
		<li><a href="http://xmonad.org">XMonad</a></li>
		<li><a href="http://suckless.org">Suckless Tools</a></li>
		<li><a href="http://darcs.net">darcs</a></li>
	</ul>
</div>
</div>
{{> global_foot}}
