{{> global_head}}

<div class="posts_container">
	{{#posts}}
		{{> post_frontpage}}
	{{/posts}}
</div>

<div class="sidebar_container">
<div class="sidebar">
	<h3 class="sidebar_title">
		Blog Info!	
	</h3>
	<p>
		You can put a sidebar here. Or anything, really, it's just a bunch of HTML in templates/frontpage.mustache.	
	</p>
</div>
{{> global_foot}}
