</div>
<div class="navbox">
	<a class="navbox_link" href="{{url_prefix}}index.html">Home</a>
	<a class="navbox_link" href="{{url_prefix}}blog/2012/test.html">About/Hello world!</a>
	<a class="navbox_link" href="{{url_prefix}}archive.html">Archives</a>
	<a class="navbox_link" href="{{url_prefix}}feed.xml">RSS</a>
</div>

{{^frontpage}}
<script type="text/javascript">
	//This adds disqus comment counts
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{{/frontpage}}

</body>
</html>
