<html>
<head>
	<title>{{page_title}}</title>
	<link rel="stylesheet" type="text/css" href="{{url_prefix}}assets/style.css" />
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'fremde'; // required: replace example with your forum shortname
		var disqus_developer = 0; // developer mode is on

		var taglines = [
			"I've got two red buttons and a four way pad",
			"Kobayashi Maru on Legendary",
			"Outsider, Nerd subtype",
			"Your cable modem is un-American",
			"WOPR Jr. with cheese",
			"Not commercial enough for Banksy to tag",
			"Kill your app store",
			"...damn kids and their pixel shaders.",
			"This medium has metastasized and I am allergic to honey",
			"CYBERPUNK'S NOT DEAD (it just uploaded to the grid^h^h^h^hcloud)",
			"My other car is a cdr",
			"If I had a soldering iron, I'd make somebody pay",
			"make stupid_unix_joke\\r make: don't know how to make stupid_unix_joke",
			"THIS MACHINE KILLS UNIBODY FANS",
			"WARNING: Cognitive hazard. Think clear while in operation."
		];
		
		function cycle_tagline() {
			var idx = Math.floor(Math.random()*taglines.length);
			document.getElementById("tagline").innerHTML = taglines[idx];
		}
		
		setInterval(cycle_tagline, 30000);
	</script>
</head>
<body>
<div class="blog_title_container">
<a href="http://www.catb.org/hacker-emblem/" class="logo">&#9723;&#9724;&#9723;
&#9723;&#9723;&#9724;
&#9724;&#9724;&#9724;</a>
<h1 class="blog_title"><a href="{{url_prefix}}index.html">{{blog_title}}</a></h1>
<h4 id="tagline" class="tagline" onclick="cycle_tagline()">Cyberpunk in expensive shoes</h4>
</div>
<div class="page_container">
